// Glyphicons font path
$icon-font-path:        "../fonts/";

$font-family-sans-serif:  "Lato-Regular", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//** Background color for `<body>`.
$body-bg:               #D9C2E2 !default;

// Colors
$brand-primary:         #27ae60;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #3c3b37 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

//** Global textual link color.
$link-color:            #FEFEFE !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken(#FFA3F3, 20%) !default;
//** Link hover decoration.
$link-hover-decoration: none !default;

// Navbar links
$navbar-default-link-color:                $link-color !default;
$navbar-default-link-hover-color:          $link-hover-color !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #AF00D3 !default;
$navbar-default-link-active-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           transparent !default;
$navbar-default-toggle-icon-bar-bg:        $link-hover-color !default;
$navbar-default-toggle-border-color:       $link-hover-color !default;

// Container size for desktops
$container-large-desktop: 940px !default;
