/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2016, 7:24:41 PM
    Author     : stephnoutsa
*/

#ml-about-wrapper {
    
    #ml-about-text {
        
        h3 {
            color: darken(#FFA3F3, 20%);
            //font-size: 1.5em;
            font-weight: 700;
            margin-left: 15px;
        }
        
        p {
            text-align: justify;
            margin-left: 15px;
        }
    }
    
    #ml-team-wrapper {
        
        h3 {
            color: darken(#FFA3F3, 20%);
            //font-size: 1.5em;
            font-weight: 700;
            margin-left: 15px;
        }
        
        .ml-team-member {
            
            .member-name {
                //color: darken(#FFA3F3, 20%);
                //font-size: 1.5em;
                font-weight: 700;
            }
            
            .member-picture {
                
                img {
                    width: 270px;
                    height: 200px;
                }
            }
            
            .member-info {
                
                p {
                    text-align: justify;
                    margin: 10px 0;
                }
            }
        }
    }
}
