/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2016, 11:39:35 PM
    Author     : stephnoutsa
*/

#ml-bb-wrapper {
    
    #ml-bb-body {
        
        .ml-bb-section {
            
            h3 {
                
            }
            
            p {
                
            }
            
            ul {
                
                padding-left: 15px;
                
                h4 {
                    font-weight: 700;
                }
                
                p {
                        
                    a {
                        color: darken(#FFA3F3, 20%);
                        
                        &:hover {
                            color: darken(#FFA3F3, 30%);
                        }
                    }
                }
                
                li {
                    
                }
            }
            
            ol {
                padding-left: 15px;
                
                li {
                    
                    h4 {
                        //font-size: 1.3em;
                        font-weight: 700;
                    }
                    
                    ul {                        
                        padding-left: 0;
                        
                        li {
                            
                            h4 {
                                font-weight: 700;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

