/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2016, 7:41:47 PM
    Author     : stephnoutsa
*/

#ml-anc-wrapper {
    padding: 20px 80px;
    
    .ml-block-left {
        float: left;
        width: 46%;
        text-align: center;
        margin: 5px;
        
        .col-md-12 {
            background-color: #3c3b37;
            border-radius: 10px;
            margin: 20px 0;
            padding-top: 1px;
            
            .ml-block-title {
            
                a {
                    color: darken(#FFA3F3, 10%);

                    &:hover {                    
                        color: darken(#FFA3F3, 20%);
                    }

                    h3 {
                        font-size: 1.5em;
                        font-weight: 700;
                        //margin: 0;
                    }
                }
            }

            .ml-block-thumbnail {
                padding: 0 5%;

                a {

                    img {
                        border-radius: 10px;
                        height: 200px;
                        width: 200px;
                    }
                }
            }

            .ml-block-excerpt {

                a {
                    
                    &:hover {
                        color: #FEFEFE;
                    }

                    p {
                        font-size: 1em;
                        font-weight: 400;
                        line-height: 1.8em;
                        padding: 1em 0;
                    }
                }
            }
        }
    }
    
    .ml-block-right {
        float: right;
        width: 46%;
        text-align: center;
        margin: 5px;
        
        .col-md-12 {
            background-color: #3c3b37;
            border-radius: 10px;
            margin: 20px 0;
            padding-top: 1px;
            
            .ml-block-title {
            
                a {
                    color: darken(#FFA3F3, 10%);

                    &:hover {                    
                        color: darken(#FFA3F3, 20%);
                    }

                    h3 {
                        font-size: 1.5em;
                        font-weight: 700;
                        //margin: 0;
                    }
                }
            }

            .ml-block-thumbnail {
                padding: 0 5%;

                a {

                    img {
                        border-radius: 10px;
                        height: 200px;
                        width: 200px;
                    }
                }
            }

            .ml-block-excerpt {

                a {
                    
                    &:hover {
                        color: #FEFEFE;
                    }
                    
                    p {
                        font-size: 1em;
                        font-weight: 400;
                        line-height: 1.8em;
                        padding: 1em 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #ml-anc-wrapper {
        padding: 20px 0px;
        margin-right: 10px;
        
        .ml-block-left {
            float: none !important;
            width: 100% !important;
            display: block !important;
        }

        .ml-block-right {
            float: none !important;
            width: 100% !important;
            display: block !important;
        }
    } 
}

@media (min-width:768px) and (max-width: 978px) {
    #ml-anc-wrapper {
        float: right;
        
        .ml-block-left {
            float: none !important;
            width: 100% !important;
            //display: block !important;
        }

        .ml-block-right {
            float: none !important;
            width: 100% !important;
            //display: block !important;
        }
    } 
}
