/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2016, 2:57:51 PM
    Author     : stephnoutsa
*/

#ml-ask-wrapper {
    width: 66.6667%;
    float: left;
    
    form {
        
        label {
            
        }
        
        .error {
            
        }
        
        .ml-input {
            width: 100%;
            background-color: #fefefe;
            border: 1px solid darken(#D9C2E2, 10%);
            outline: medium none;
            margin-bottom: 20px;
            padding: 5px 15px;
        }
        
        #ml-ask-title {
            
        }
        
        #ml-ask-body {
            
        }
        
        .ml-input-divider {
            border-bottom: 1px dotted darken(#D9C2E2, 10%);
        }
        
        #ml-ask-tags {
            
        }
        
        #ml-ask-submit {
            background-color: #FF3DE6;
            border: medium none;
            color: #FEFEFE;
            padding: 1%;

            &:hover, &:focus {
                background-color: darken(#FF3DE6, 20%);
                color: #FEFEFE;
            }
        }
    }
}

@media (max-width: 767px) {
    #ml-ask-wrapper {
        width: 100%;
        float: none;

        form {

            label {

            }

            .ml-input {
                
            }

            #ml-ask-title {

            }

            #ml-ask-body {

            }

            .ml-input-divider {
                
            }

            #ml-ask-tags {

            }

            #ml-ask-submit {
                

                &:hover, &:focus {
                    
                }
            }
        }
    }
}

