/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2016, 12:37:00 AM
    Author     : stephnoutsa
*/

#ml-bb-wrapper {
    margin: 0 15px 15px;
    
    #ml-bb-headings {
        
        h3 {
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
            color: darken(#FFA3F3, 30%);
        }
        
        #ml-bb-headings-links {
            border-bottom: 3px solid darken(#D9C2E2, 10%);
            
            ul {
                padding-left: 15px;
                
                li {
                    
                    h4 {                
                
                        a {
                            color: darken(#FFA3F3, 15%);
                            
                            &:hover {
                                color: darken(#FFA3F3, 25%);
                            }
                        }
                    }
                }
            }
        }
    }
    
    #ml-bb-body {
        
        .ml-bb-section {
            
            h3 {
                font-size: 1.5em;
                font-weight: 700;
                color: darken(#FFA3F3, 30%);
            }
            
            .ml-bb-xtic {
                font-weight: bold;
            }
            
            p {
                
            }
            
            .ml-bb-visits {
                list-style: none;
                padding-left: 0;
                
                li {
                    
                    h4 {
                        font-size: 1.3em;
                        font-weight: 700;
                        color: darken(#FFA3F3, 20%);    
                    }
                    
                    .ml-bb-xtic {
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}
