/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2016, 2:27:34 AM
    Author     : stephnoutsa
*/

.sidebar-primary {
    
    .main {
        float: none !important;
        width: 100% !important;
    }
}

#ml-contact-wrapper {
    
    #ml-contact-entry {
        
        #wpcf7-f64-o1 {
            
            .wpcf7-form {
                
                p {                    
                    
                    .wpcf7-form-control-wrap {
                        
                        input {
                            background-color: #fefefe;
                            border: 1px solid darken(#D9C2E2, 10%);
                            //border-radius: 15px;
                            outline: medium none;
                            margin-bottom: 20px;
                            padding: 5px 15px;
                            width: 100%;
                        }
                        
                        textarea {
                            background-color: #fefefe;
                            border: 1px solid darken(#D9C2E2, 10%);
                            //border-radius: 17px;
                            height: 200px;
                            margin-bottom: 20px;
                            padding: 5px 15px;
                            width: 100%;
                        }
                    }
                    
                    .wpcf7-submit {
                        background-color: #FF3DE6;
                        border: medium none;
                        //border-radius: 17px;
                        color: #FEFEFE;
                        padding: 1%;
                        width: 100%;

                        &:hover, &:focus {
                            background-color: darken(#FF3DE6, 20%);
                            color: #FEFEFE;
                        }
                    }
                }
            }
        }        
    }
    
    #ml-contact-info {
        
        h5 {
            color: darken(#FFA3F3, 20%);
            font-size: 1.5em;
            font-weight: 700;
            margin: 0;
        }
        
        p {
            color: #999;
            font-size: 16px;
            line-height: 1.6em;
            margin-top: 1em;
            
            a {
                color: #999;
                font-size: 14px;
                font-weight: 500;
                
                &:hover {
                    color: darken(#FFA3F3, 20%);
                }
            }
        }
    }
}