/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2016, 12:17:17 PM
    Author     : stephnoutsa
*/

#ml-bb-wrapper {
    
    #ml-bb-headings {
        
    }
    
    #ml-bb-body {
        
        .ml-bb-section {
            
            h3 {
                
            }
            
            ul {
                
                li {
                    
                    h4 {
                        
                    }
                    
                    h5 {
                        
                    }
                    
                    p {
                        
                        img {
                            
                        }
                        
                        .mln-note {
                            
                        }
                    }
                    
                    table {
                        margin-top: 15px;
                        margin-bottom: 15px;
                        border: 2px solid darken(#D9C2E2, 10%);
                        border-collapse: collapse;
                        
                        tr {
                            
                            th {
                                border: 1px solid darken(#D9C2E2, 10%);
                                border-collapse: collapse;
                                padding: 15px;
                            }
                            
                            td {
                                border: 1px solid darken(#D9C2E2, 10%);
                                border-collapse: collapse;
                                padding: 15px;
                            }
                        }
                    }
                    
                    ul {
                        
                        li {
                            
                            ul {
                                list-style: square outside none;
                                
                                li {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

