.content-info {
    background-color: #3c3b37;
    color: #FEFEFE;
    margin-top: 30px;
    
    .container {
        
        .footer-rights {
            float: left;
            
            p {
                margin: 10px;
            }
        }
        
        .footer-designer {
            float: right;
            
            p {
                margin: 10px;
            }
        }
    }
}

@media (min-width:320px) and (max-width: 359px) {
    .footer-rights {
                        
        p {

            span {
                display: block;
            }
        }
    }
}