/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2016, 2:11:12 PM
    Author     : stephnoutsa
*/

#ml-home-activity {
    padding: 0 30px;
    
    #ml-sliders {
        
        #ml-slider-container {
            
            .rslides {
                position: relative;
                list-style: none;
                overflow: hidden;
                width: 100%;
                padding: 0;
                margin: 0;
                
                li {
                    -webkit-backface-visibility: hidden;
                    position: absolute;
                    display: none;
                    width: 100%;
                    left: 0;
                    top: 0;
                    
                    &:first-child {
                        position: relative;
                        display: block;
                        float: left;
                    }
                    
                    img {
                        display: block;
                        height: auto;
                        float: left;
                        width: 100%;
                        border: 0;
                    }
                }
            }
        }
    }
}