#ml-main-header {
    
    .container {
        
        .ml-header-top {
            height: 70px;
            
            .ml-logo-wrapper {
                
                .navbar-header {
                
                    .navbar-toggle {
                        margin-top: 15px;
                        background-color: #AF00D3;
                    }

                    .navbar-brand {
                        margin-left: 0px;
                        padding-top: 13px;

                        img {

                        }
                    }

                    .brand {

                    }
                }
            }
            
            .ml-account {
                float: right;
                margin-top: 15px;
                margin-right: 15px;
                
                .ml-user-avatar {
                    
                }
                
                .ml-user-info {
                    
                }
                
                a {
                    
                }
                
                .ml-separate {
                    color: #FEFEFE;
                }
            }
        }
        
        .ml-nav-wrapper {
            
            .navbar-collapse {
                float: right;
            }
        }
    }
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    
    .navbar-nav {
        
        > li {
            
            &.current-menu-item {
                
                a {
                    color: darken(#FFA3F3, 20%);
                }
            }
        }
    }
}