/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2016, 2:59:57 PM
    Author     : stephnoutsa
*/

#ml-imm-wrapper {
    
    #ml-imm-infants {
        
        h4 {
            font-size: 1.3em;
            font-weight: 700;
            color: darken(#FFA3F3, 20%); 
        }
        
        table {
            margin-top: 15px;
            margin-bottom: 15px;
            //width: 100%;
            border: 2px solid darken(#D9C2E2, 10%);
            border-collapse: collapse;
            
            tr {                
                
                th {
                    border: 1px solid darken(#D9C2E2, 10%);
                    border-collapse: collapse;
                    padding: 15px;
                }
                
                td {
                    border: 1px solid darken(#D9C2E2, 10%);
                    border-collapse: collapse;
                    padding: 15px;
                }
            }
        }
    }
    
    #ml-imm-women {
        
        h4 {
            font-size: 1.3em;
            font-weight: 700;
            color: darken(#FFA3F3, 20%); 
        }
        
        table {
            margin-top: 15px;
            margin-bottom: 15px;
            //width: 100%;
            border: 2px solid darken(#D9C2E2, 10%);
            border-collapse: collapse;
            
            tr {
                
                th {
                    border: 1px solid darken(#D9C2E2, 10%);
                    border-collapse: collapse;
                    padding: 15px;
                }
                
                td {
                    border: 1px solid darken(#D9C2E2, 10%);
                    border-collapse: collapse;
                    padding: 15px;
                }
            }
        }
        
        p {
            
            .ml-imm-note {
                font-weight: bold;
            }
        }
    }
}

