/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 21, 2016, 10:43:36 PM
    Author     : stephnoutsa
*/

#ml-bb-wrapper {
    
    #ml-bb-headings {
        
        h3 {
            
        }
        
        #ml-bb-headings-links {
            
            ul {
                
                li {
                    
                    h4 {
                        
                        a {
                            
                        }
                    }
                }
            }
        }
    }
    
    #ml-bb-body {
        
        .ml-bb-section {
            
            h3 {
                
            }
            
            .ml-bb-xtic {
                
            }
            
            p {
                
            }
            
            ul {
                
                li {
                    
                }
            }
            
            .ml-bb-note {
                font-style: italic;
            }
        }
    }
}

