/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2016, 6:16:51 PM
    Author     : stephnoutsa
*/

#ml-bb-wrapper {
    
    #ml-bb-headings {
        
        h3 {
            
        }
        
        #ml-bb-headings-links {
            
            ul {
                
                li {
                    
                    h4 {                
                
                        a {
                            color: darken(#FFA3F3, 25%);
                            
                            &:hover {
                                color: darken(#FFA3F3, 30%);
                            }
                        }
                    }
                    
                    ul {
                        
                        li {
                            
                            a {
                                color: darken(#FFA3F3, 15%);
                            
                                &:hover {
                                    color: darken(#FFA3F3, 25%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    #ml-bb-body {
        
        .ml-bb-section {
            
            .mln-note {
                font-weight: bold;
            }
            
            h3 {
                
            }
            
            ul {
                list-style: none;
                padding-left: 0;
                
                &.mln-ul-bullets {
                    list-style: disc outside none;
                    padding-left: 15px;
                }
                
                li {
                    
                    h4 {
                        
                    }
                    
                    h5 {
                        font-weight: bold;
                    }
                    
                    p {
                        
                        img {
                            margin: 10px 0;
                        }
                        
                        .mln-note {
                            font-weight: bold;
                        }
                    }
                    
                    ol {
                        
                        li {
                            .mln-note {
                                font-weight: bold;
                                
                                ul {
                                    
                                    li {
                                        
                                    }
                                }                           
                            }
                            
                            ul {
                                
                                li {
                                    
                                    ul {
                                        
                                        li {
                                            list-style: square outside none;
                                        }
                                    }                                    
                                }
                            }

                            table {
                                margin-top: 15px;
                                margin-bottom: 15px;
                                border: 2px solid darken(#D9C2E2, 10%);
                                border-collapse: collapse;

                                tr {

                                    th {
                                        border: 1px solid darken(#D9C2E2, 10%);
                                        border-collapse: collapse;
                                        padding: 15px;
                                    }

                                    td {
                                        border: 1px solid darken(#D9C2E2, 10%);
                                        border-collapse: collapse;
                                        padding: 15px;
                                    }
                                }
                            }
                            
                            p {
                                
                                .mln-note {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    
                    ul {
                        padding-left: 15px;
                        list-style: disc outside none;
                        
                        li {
                            
                            img {
                                margin: 10px 3px;
                            }
                            
                            .mln-note {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #ml-bb-wrapper {
    
        #ml-bb-headings {

            h3 {

            }

            #ml-bb-headings-links {

                ul {

                    li {

                        h4 {                

                            a {

                                &:hover {
                                    
                                }
                            }
                        }

                        ul {

                            li {

                                a {

                                    &:hover {
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #ml-bb-body {

            .ml-bb-section {

                h3 {

                }

                ul {

                    li {

                        h4 {

                        }

                        h5 {
                            
                        }

                        p {

                            img {
                                
                            }

                            .mln-note {
                                
                            }
                        }

                        ul {

                            li {

                                img {
                                    margin: 10px 3px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

