body {
    font-size: 16px;
    line-height: 1.6em;
}

.page-header {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 3px solid darken(#D9C2E2, 10%);
    //text-align: center;
    
    h1 {
        color: darken(#FFA3F3, 20%);
        //font-size: 1.5em;
        font-weight: 700;
    }
}