.sidebar {
    width: 33.3333%;
    
    .widget {
        padding: 0 15% 5%;
        margin: 15px 0;
        border: 1px solid #ddd;
        border-radius: 20px;
        background-color: #28292B;
        color: #ddd;
        //text-align: center;
        
        &.widget_search {
            background-color: #D9C2E2;
            border: medium none;
            padding: 0;
            
            .search-form {
                
                label {
                    float: left;
                    width: 73%;
                    
                    .search-field {
                        
                    }
                }
                
                .search-submit {
                    float: right;
                    width: 27%;
                }
            }
        }
                
        h3 {
            text-align: center;
        }
    }
}

#ml-aside-wrapper {
        
    .ml-aside-item {
        padding: 5px;
    }
    
    #ml-aside-advice {
        
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        padding: 0;
        
        .widget {
            padding: 0 10%;
        
            &.widget_search {

                .search-form {

                    label {
                        float: left;

                        .search-field {

                        }
                    }
                
                    .search-submit {
                        display: inline;
                        float: right;
                    }

                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .sidebar {
        
        .widget {
            padding: 0 10%;
        
            &.widget_search {

                .search-form {

                    label {
                        width: 66%;

                        .search-field {

                        }
                    }
                
                    .search-submit {
                        width: 34%;
                    }

                }
            }
        }
    }
}